<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/admin/main}">
	<main layout:fragment="content">
		<h2>물류센터 수정</h2>
		<form name="wactrSave" method="post" th:action="@{/baseinfo/wactr/admin/save}" autocomplete="off" th:object="${wactrForm}" onSubmit="window.close();">
			<input type="hidden" name="flag" th:field="*{flag}" th:value="update">

			<th:block th:replace="~{admin/wactr/_form::wactrForm}"></th:block>
			<div class="btns">
				<button type="reset" th:text="#{admin.action.reset}"></button>
				<button type="submit" th:text="#{admin.action.update}" id="submit"></button>
			</div>
		</form>
	</main>
</html>