<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/admin/main}">

<section layout:fragment="content">
	<form name="frmSearch" method="get" th:action="@{/}" autocomplete="off" class="frmSearch">
		<table class="table-cols" id="custSearch">
			<tr>
				<th>납품처 명</th>
				<td>
					<input type="text" name="custNm" placeholder="납품처 명">
				</td>
			</tr>
		</table>
		<div class="btns" style="text-align:right;">
			<button type="button" id="ajax_btn" class="sbtn">검색</button>
			<button type="button" id="add" class="sbtn">추가</button>
			<button type="button" id="del" class="sbtn blue">삭제</button>
		</div>
	</form>

	<script>
			document.addEventListener('DOMContentLoaded', function () {
				const ajax_btn = document.getElementById('ajax_btn');
				const add = document.getElementById('add');
				const del = document.getElementById('del');

				add.addEventListener("click", addItem);
			});

			function addItem(e) {
				console.log('test');
				url = 'join';
				warehouse.popup.open(url, "테스트", 500, 800, true);
			}
		</script>

	<div class="table_wrapper">
		<table id="cust_table">
			<tr>
				<th> </th>
				<th>순번</th>
				<th>납품처 코드</th>
				<th>납품처 명</th>
				<th>사업자번호</th>
				<th>연락처</th>
				<th>대표자 명</th>
				<th>납품처 주소</th>
				<th>비고</th>
			</tr>
			<tbody id="search">
			<tr th:each="cust, custCount : ${custList}" id="cust_infos">
				<td>
					<input type="checkbox" name="chk" th:value="${cust.custCd}" id="chk">
				</td>
				<td th:text="${custCount.count}"></td>
				<td th:text="${cust.custCd}"></td>
				<td th:text="${cust.custNm}"></td>
				<td th:text="${cust.busiNum}"></td>
				<td th:text="${cust.custTel}"></td>
				<td th:text="${cust.ownerNm}"></td>
				<td th:text="${cust.busiAddr}"></td>
				<td th:text="${cust.remark}"></td>
			</tr>
			</tbody>
		</table>
	</div>
</section>
</html>