<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script th:src="@{/js/front/layer.js}"></script>

</head>

	<th:block th:fragment="stdinForm" th:object="${stdinForm}" >
		<script th:src="@{/js/front/stdin.js}"></script>
		<div>
			<dt th:text="#{stdin_dt}" class="require_item"></dt>
			<input type="date" name="stdinDt" th:field="*{stdinDt}" th:placeholder="#{stdin_dt}" onclick="minDate">
			<div class="errors" th:each="err : ${#fields.errors('stdinDt')}" th:text="${err}"></div>
		</div>

		<br>

		<div>
			<dt th:text="#{clnt}" class="require_item"></dt>
			<input type="text" id="clnt_cd" th:field="*{clntCd}" readonly/>
			<input type="text" list="clnt" id="clnt_tmp" name="clnt_tmp" placeholder="고객사 명" onchange="UpdateClnt()"/>
			<datalist id="clnt">
				<select id="clnt_sel">
					<option th:each="clnt : ${clntList}" th:label="${clnt.clntCd}" th:value="${clnt.clntNm}">
					</option>
				</select>
			</datalist>
			<div class="errors" th:each="err : ${#fields.errors('clntCd')}" th:text="${err}"></div>
		</div>

		<br>


		<div>
			<dt th:text="#{status}" class="require_item"></dt>
			<select name="status" th:field="*{status}">
				<option th:value="01">01 - 등록</option>
				<option th:value="02">02 - 확정</option>
			</select>
			<div class="errors" th:each="err : ${#fields.errors('status')}" th:text="${err}"></div>
		</div>


		<br>

		<div>
			<dt th:text="#{item}" class="require_item"></dt>
			<input type="text" id="item_cd" th:field="*{itemCd}" readonly/>
			<input type="text" list="item" id="item_tmp" name="item_tmp" placeholder="상품명" onchange="UpdateItem()"/>
			<datalist id="item">
				<select id="item_sel">

				</select>
			</datalist>
			<div class="errors" th:each="err : ${#fields.errors('itemCd')}" th:text="${err}"></div>
		</div>

		<br>

		<div>
			<dt th:text="#{loc}" class="require_item"></dt>
			<input type="text" list="loc" id="loc_tmp" name="loc_tmp" placeholder="로케이션" th:field="*{locCd}"/>
			<datalist id="loc">
				<select id="loc_sel">

				</select>
			</datalist>
			<div class="errors" th:each="err : ${#fields.errors('locCd')}" th:text="${err}"></div>
		</div>

		<br>

		<div>
			<dt th:text="#{beforeStdin}" class="require_item"></dt>
			<input type="text" name="beforeStdin" th:field="*{beforeStdin}" th:placeholder="#{beforeStdin}" id="amount" readonly/>
			<div class="errors" th:each="err : ${#fields.errors('beforeStdin')}" th:text="${err}"></div>
		</div>

		<br>

		<div>
			<dt th:text="#{normal}" class="require_item"></dt>
			<input type="number" name="normal" th:field="*{normal}" th:placeholder="#{normal}" id="normal" onchange="sum()"/>
			<div class="errors" th:each="err : ${#fields.errors('normal')}" th:text="${err}"></div>
		</div>

		<div>
			<dt th:text="#{fault}" class="require_item"></dt>
			<input type="number" name="fault" th:field="*{fault}" th:placeholder="#{fault}" id="fault" onchange="sum()"/>
			<div class="errors" th:each="err : ${#fields.errors('fault')}" th:text="${err}"></div>
		</div>

		<div>
			<dt th:text="#{remk}" class="require_item"></dt>
			<textarea name="remark" th:field="*{remark}" th:placeholder="#{remark}"></textarea>
			<div class="errors" th:each="err : ${#fields.errors('remark')}" th:text="${err}"></div>
		</div>
	</th:block>
</html>