<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/front/main}">
<head>
	<script th:src="@{/js/front/stdin.js}"></script>
</head>

<main layout:fragment="content">
	<form name="frmSearch" method="get" th:action="@{/}" autocomplete="off">
		<table class="table-cols">
			<tr>
				<th>입고일자</th>
				<td>
					<input type="date" name="stdinDt" placeholder="입고일자">
				</td>

				<th>고객사 명</th>
				<td>
					<input type="text" name="clntNm" placeholder="고객사 명">
				</td>


				<th>진행상태</th>
				<td>
					<select name="status">
						<option th:value="01">01 - 등록</option>
						<option th:value="02">02 - 확정</option>
					</select>
				</td>
			</tr>
		</table>
		<div class="btns">
			<input type="button" value="검색" id="ajax_btn">
			<button type="button" id="add">추가</button>
			<button type="button" id="delete">삭제</button>
		</div>
	</form>

	<script>
			document.addEventListener('DOMContentLoaded', function() {
				const add = document.getElementById("add");
				add.addEventListener("click", addItem);

				const del = document.getElementById("delete");
				del.addEventListener("click", deleteItem);
			});

			function addItem(e) {

				url = 'stdin/register';
				warehouse.popup.open(url, "테스트", 500, 800, false);
			}

			function deleteItem(e) {
				var chk = document.getElementsByName("chk");
				var chk_data = [];

				for(var i = 0; i < chk.length; i++) {
					if(chk[i].checked == true) {
						console.log(chk[i].value);
						chk_data.push(chk[i].value);
					}
				}
				console.log("data" + chk_data);

				const url = `wactr/delete?wactrCd=${chk_data}`;
				commonLib.ajaxLoad(url)
					.then((data) => {
						console.log(data);
						location.reload();
					})
					.catch((err) => {
						console.error(err);
					});
			}

			function updateItem(e) {
				var chk = document.getElementsByName("chk");
				var chk_data = [];

				for(var i = 0; i < chk.length; i++){
					if(chk[i].checked == true) {
						chk_data.push(chk[i].value);
					}
				}
				console.log(chk_data);

				if(chk_data.length > 1) {
					alert("수정은 하나씩만 가능합니다.");

				} else if(chk_data.length == 0) {
					alert("수정할 항목을 선택해주세요.");
				} else {
					url = 'wactr/admin/' + chk_data[0] + '/update';
					warehouse.popup.open(url, "테스트", 500, 800);
				}
			}
		</script>

	<table id="stdin_h_table">
		<tr>
			<th> </th>
			<th>순번</th>
			<th>입고일자</th>
			<th>고객사 코드</th>
			<th>고객사 명</th>
			<th>진행상태</th>
			<th>비고</th>
		</tr>
		<tbody id="search">
			<tr th:each="stdin, wactrCount : ${stdin_list}" id="stdin_infos">
				<td>
					<input type="checkbox" name="chk" th:value="${stdin.stdinNum}" id="chk">
				</td>
				<td th:text="${wactrCount.count}"></td>
				<td th:text="${stdin.stdinDt}"></td>
				<td th:text="${stdin.clntCd}"></td>
				<td th:text="${stdin.clntNm}"></td>
				<td th:text="${stdin.status}"></td>
				<td th:text="${stdin.remark}"></td>
			</tr>
		</tbody>
	</table>
</main>
</html>