<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/admin/main}">

	<main layout:fragment="content">
		<h2>입고등록 추가</h2>
		<form name="stdinSave" method="post" th:action="@{/stdin/register}" autocomplete="off" th:object="${stdinForm}">

			<th:block th:replace="~{stdin/_form::stdinForm}"></th:block>
			<div class="btns">
				<button type="reset" th:text="#{admin.action.reset}"></button>
				<button type="submit" th:text="#{admin.action.register}"></button>
			</div>
		</form>
	</main>

</html>