<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/admin/main}">
	<head>
		<style>
				header {height:0px;}
			</style>
	</head>

	<section layout:fragment="content">
		<h2>입고등록 수정</h2>
		<form name="stdinSave" method="post" th:action="@{/stdin/save}" autocomplete="off" th:object="${stdinForm}" class="_form">
			<input type="hidden" name="flag" th:field="*{flag}" th:value="update">
			<th:block th:replace="~{stdin/_form::stdinForm}"></th:block>
			<div class="btns">
				<button type="reset" th:text="#{admin.action.reset}"></button>
				<button type="submit" th:text="#{admin.action.update}"></button>
			</div>
		</form>
	</section>

</html>