<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script th:src="@{/js/front/layer.js}"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/css/admin/style.css}">
		<style>
			html { font-size: 13px; max-width: 1300px; min-width: 0px;}

			#flexWrap div {
				padding-right : 10px;
				padding-bottom : 40px;
			}
		</style>
	</head>



	<form name="transfForm" method="post" th:action="@{/stock/_transfForm}" th:object="${stktransfVO}" autocomplete="off">
		<div style="display : flex; flex-wrap: wrap;" id="flexWrap">
			<input type="hidden" th:value="${wactrCd}" name="wactrCd">
			<input type="hidden" th:value="${tmstkVO.item_cd}" name="itemCd">
			<div style="padding-bottom:4px;">
				로케이션 FROM
				<br>
				<input type="text" style="width : 150px; background:#d5d5d5;" readonly th:value="${tmstkVO.loc_cd}" name="locCdFrom">
			</div>

			<div style="padding-bottom:4px;">
				이동 전 정상 수량
				<br>
				<input type="number" style="width : 110px; background:#d5d5d5;" readonly th:value="${tmstkVO.stock_amt - tmstkVO.fault_amt}" id="runtimeNormal">
			</div>
			<div style="padding-bottom:4px;">
				이동 전 불량 수량
				<br>
				<input type="number" style="width : 110px; background:#d5d5d5;" readonly th:value="${tmstkVO.fault_amt}" id="runtimeFault">
			</div>

			<div style="padding-right : 10px;">
				<div style="border : 0px solid; width:150px;"></div>
			</div>

			<div>
				이동 후 정상 수량
				<br>
				<input type="number" style="width : 110px; background:#d5d5d5;" readonly id="leftNormal">
			</div>
			<div>
				이동 후 불량 수량
				<br>
				<input type="number" style="width : 110px; background:#d5d5d5;" readonly id="leftFault">
			</div>

			<div>
				로케이션 TO
				<br>
				<input type="text" list="locList" style="width:150px;" name="locCdTo">
				<datalist id="locList">
					<select>
						<option th:each="loc : ${locList}" th:label="${loc.loc_cd}" th:value="${loc.loc_cd}">
						</option>
					</select>
				</datalist>
			</div>

			<div>
				이동 정상 수량
				<br>
				<input type="number" style="width : 110px;" onchange="amtChange(this)" id="moveNormal" th:field="${stktransfVO.moveNormal}">
			</div>
			<div>
				이동 불량 수량
				<br>
				<input type="number" style="width : 110px;" onchange="amtChange(this)" id="moveFault" th:field="${stktransfVO.moveFault}">
			</div>

			<div style="padding-bottom : 3px;">
				이동 사유
				<br>
				<textarea rows="5" cols="52" style="border:1px solid #d5d5d5; width:100%;" th:field="${stktransfVO.reason}"></textarea>
			</div>
			<script>
		function amtChange() {
			let moveNormal = document.getElementById('moveNormal');
			let moveFault = document.getElementById('moveFault');

			const runtimeNormal = document.getElementById('runtimeNormal').value;
			const runtimeFault = document.getElementById('runtimeFault').value;

			let leftNormal = document.getElementById('leftNormal');
			let leftFault = document.getElementById('leftFault');

			if(runtimeNormal-moveNormal.value < 0) {
				console.log('err!');
				alert('이동할 수량이 부족합니다!');
				leftNormal.value = runtimeNormal;
				moveNormal.value = 0;
			} else if(moveNormal.value < 0) {
				alert('이동수량은 음수일 수 없습니다!');
				leftNormal.value = runtimeNormal;
				moveNormal.value = 0;
			} else {
				leftNormal.value = runtimeNormal-moveNormal.value;
			}

			if(runtimeFault-moveFault.value < 0) {
				console.log('err!');
				alert('이동할 수량이 부족합니다!');
				leftFault.value = runtimeFault;
				moveFault.value = 0;
			} else if(moveFault.value < 0) {
				alert('이동수량은 음수일 수 없습니다!');
				leftFault.value = runtimeFault;
				moveFault.value = 0;
			} else {
				leftFault.value = runtimeFault-moveFault.value;
			}
		}
	</script>

		</div>
		<div style="text-align: center;">
			<button type="submit" class="sbtn blue">재고이동</button>
		</div>
	</form>
</html>