<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/front/main}">
<section layout:fragment="content">
	<form id="search" autocomplete="off" class="frmSearch">
		<table class="table-cols">
			<tr>
				<th style="width:80px;">이동일자</th>
				<td>
					<input type="date" id="move_dt" name="search_moveDt" placeholder="이동일자" style="width:100%;">
				</td>

				<th style="width:80px;">상품코드</th>
				<td>
					<input type="text" id="item_cd" name="search_itemCd" placeholder="상품코드" style="width:100%;">
				</td>
				<th style="width:80px;">상품명</th>
				<td>
					<input type="text" id="item_nm" name="search_itemNm" placeholder="상품명" style="width:100%;">
				</td>
			</tr>
		</table>
		<div class="btns" style="text-align:right;">
			<button onclick="search()" class="sbtn">검색</button>
		</div>
	</form>
	<div class="table_wrapper">
		<h4 style="text-align:left;">재고 이동 내역</h4>
		<table>
			<tr>
				<th>이동일자</th>
				<th>이동순번</th>
				<th>고객사코드</th>
				<th>상품코드</th>
				<th>상품명</th>
				<th>물류센터</th>
				<th>로케이션(FROM)</th>
				<th>로케이션(TO)</th>
				<th>시점가용재고</th>
				<th>이동수량</th>
				<th>사유</th>
			</tr>
			<tr th:each="item : ${stktransfList}" id="stktransf_infos">
				<td th:text="${#temporals.format(item.moveDt, 'yyyy-MM-dd')}"></td>
				<td th:text="${item.no}"></td>
				<td th:text="${item.clntCd}"></td>
				<td th:text="${item.itemCd}"></td>
				<td th:text="${item.itemNm}"></td>
				<td th:text="${item.waCtrCdFrom}"></td>
				<td th:text="${item.locCdFrom}"></td>
				<td th:text="${item.locCdTo}"></td>
				<td th:text="${item.runtimeStock}"></td>
				<td th:text="${item.moveAmt}"></td>
				<td th:text="${item.reason}"></td>
			</tr>

		</table>

	</div>
</section>
</html>