<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/front/main}">

<head>
	<script>
<!--    검색조건에따라 리스트 바뀐다-->
function search(){
        <!--검증이 필요하면 사용-->
        var search_clntNm = document.getElementById("clnt_nm").value.trim();
        var search_itemCd = document.getElementById("item_cd").value.trim();
        var search_itemNm = document.getElementById("item_nm").value.trim();
        <!--검증이 필요하면 사용-->


        var form = document.getElementById("search");


        // 폼 서버로 제출
         form.method="get";
         form.action="/tmstk"
         form.submit();
    };
</script>
</head>
<section layout:fragment="content">
	<div  align="center" class="table_wrapper">

		<form id="search" autocomplete="off" class="frmSearch">
			<table class="table-cols">

				<tr>
					<th style="width:80px;">고객사명</th>
					<td>
						<input type="text" id="clnt_nm" name="search_clntNm" placeholder="고객사명" style="width:100%;">
					</td>

					<th style="width:80px;">상품코드</th>
					<td>
						<input type="text" id="item_cd" name="search_itemCd" placeholder="상품코드" style="width:100%;">
					</td>
					<th style="width:80px;">상품명</th>
					<td>
						<input type="text" id="item_nm" name="search_itemNm" placeholder="상품명" style="width:100%;">
					</td>
				</tr>
			</table>
			<div class="btns" style="text-align:right;">
				<button onclick="search()" class="sbtn">검색</button>
			</div>
		</form>

		<table>
			<tr>
				<th style="width:50px;"></th>
				<th style="width:50px;">물류센터명</th>
				<th style="width:100px;">고객사명</th>
				<th style="width:50px;">로케이션(코드)</th>
				<th style="width:50px;">상품코드</th>
				<th style="width:50px;">상품명</th>
				<th style="width:50px;">재고수량</th>
				<th style="width:50px;">불량수량</th>
			</tr>

			<tr th:each="list , Count: ${list}" th:object="${list}">
				<td th:text="${Count.count}"></td>
				<td th:text="*{wactr_nm}"></td>
				<td th:text="*{clnt_nm}"> </td>
				<td th:text="*{loc_cd}"></td>
				<td th:text="*{item_cd}"></td>
				<td th:text="*{item_nm}"></td>
				<td th:text="*{stock_amt}"></td>
				<td th:text="*{fault_amt}"></td>
			</tr>

		</table>

		<table>

		</table>

	</div>
</section>
</html>