<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/front/main}">
<section layout:fragment="content">
		<form id="search" autocomplete="off" class="frmSearch">
			<table class="table-cols">
				<tr>
					<th style="width:80px;">고객사명</th>
					<td>
						<input type="text" id="clnt_nm" name="search_clntNm" placeholder="고객사명" style="width:100%;">
					</td>

					<th style="width:80px;">상품코드</th>
					<td>
						<input type="text" id="item_cd" name="search_itemCd" placeholder="상품코드" style="width:100%;">
					</td>
					<th style="width:80px;">상품명</th>
					<td>
						<input type="text" id="item_nm" name="search_itemNm" placeholder="상품명" style="width:100%;">
					</td>
				</tr>
			</table>
			<div class="btns" style="text-align:right;">
				<button onclick="search()" class="sbtn">검색</button>
			</div>
		</form>

	<script>
		function search() {
			const clnt_nm = querySelector('.frmSearch #clnt_nm');
			const item_cd = querySelector('.frmSearch #item_cd');
			const item_nm = querySelector('.frmSearch #item_nm');

			console.log(clnt_nm);
			consloe.log(item_cd);
			console.log(item_nm);
		}
	</script>


	<script>
		document.addEventListener('DOMContentLoaded', function(){
			const tmstk = document.getElementById('tmstk');
			const trs = tmstk.querySelectorAll('tr');
				trs.forEach( (tr) => {
					tr.addEventListener('dblclick', transfForm)
				});
		});

		function transfForm(e) {
			const locCd = e.target.parentNode.children[3].innerText;
			const itemCd = e.target.parentNode.children[4].innerText;
			const wactrCd = e.target.parentNode.children[8].innerText;
			console.log(wactrCd);

			const url = '_transfForm?locCd='+locCd+'&itemCd='+itemCd+'&wactrCd='+wactrCd;
			console.log(url);
			warehouse.popup.open(url, "테스트", 460, 460, true);
		}


	</script>
		<h4 style="text-align:left;">재고 현황</h4>
		<div class="table_wrapper">
			<table id="tmstk">
				<tr>
					<th style="width:50px;"></th>
					<th style="width:50px;">물류센터명</th>
					<th style="width:100px;">고객사명</th>
					<th style="width:50px;">로케이션(코드)</th>
					<th style="width:50px;">상품코드</th>
					<th style="width:50px;">상품명</th>
					<th style="width:50px;">재고수량</th>
					<th style="width:50px;">불량수량</th>
				</tr>

				<tr th:each="list , Count: ${list}" th:object="${list}">
					<td th:text="${Count.count}"></td>
					<td th:text="*{wactr_nm}"></td>
					<td th:text="*{clnt_nm}"> </td>
					<td th:text="*{loc_cd}"></td>
					<td th:text="*{item_cd}"></td>
					<td th:text="*{item_nm}"></td>
					<td th:text="*{stock_amt}"></td>
					<td th:text="*{fault_amt}"></td>
					<td style="display : none;" th:text="*{wactr_cd}"></td>
				</tr>

			</table>
			<br>
	</div>


</section>
</html>