<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin/main}">

<main layout:fragment="content">
        <script th:src="@{/js/conInfo/conInfo.js}"></script>
        <form name="frmJoin" method="post" th:action="@{/baseinfo/coninfo}" th:object="${conInfoVO}" autocomplete="off">
            계약정보 페이지
            <div>
                <input type="text" id="clnt_cd" th:field="*{clntCd}" th:placeholder="#{clntCd}" th:style="'background:#D8D8D8'" readonly/>
                <input type="text" list="clnt" id="clnt_tmp" name="clnt_tmp" th:placeholder="#{clntNm}"/>
                <datalist id="clnt">
                    <select id="clnt_sel">
                        <option th:each="clnt : ${clntList}" th:label="${clnt.clntCd}" th:value="${clnt.clntNm}">
                        </option>
                    </select>
                </datalist>
            </div>
            <div>
                <input type="number" th:field="*{mMin}" th:placeholder="#{mMin}">
            </div>
            <div>
                <input type="number" th:field="*{pltFee}" th:placeholder="#{pltFee}">
            </div>
            <div>
                <input type="text" th:field="*{transSdt}" th:placeholder="#{transSdt}">
            </div>
            <div>
                <input type="text" th:field="*{transEdt}" th:placeholder="#{transEdt}">
            </div>
            <div>
                <input type="text" th:field="*{remark}" th:placeholder="#{remk}">
            </div>
            <button type="submit" th:text="#{conInfo.action.submit}"></button>
        </form>
    </main>
</html>