<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/front/main}">

<head>
    <script>

<!--    검색조건에따라 리스트 바뀐다-->
    function search_loc(){
        var search_loc = document.getElementById("search_loc").value.trim();
        var form = document.getElementById("search");


        // 폼 서버로 제출
         form.method="get"
         form.action="/baseinfo/loc"
         form.submit();
    }



<!--    delete를 위해 체크한 것의 loc_cd 가져오기-->
    function che() {
		  var checked_input = document.getElementById("checked_input");
		  var check = document.getElementsByClassName("check");
          var loc_cd = [];


        for( var i = 0; i < check.length; i++){

           if(check[i].checked){
           loc_cd.push(check[i].value);
           }
            checked_input.value = loc_cd;

        }

    }

    function delete_loc(){
        var form = document.getElementById("search");
        var checked_input = document.getElementById("checked_input").value.trim();

        if(checked_input == "" ){
         alert("삭제할 목록에 체크해주세요")
         retrun;
        }

        if(!confirm('선택한 항목을 삭제하시겠습니까?')){
            return;
        }

         // 폼 서버로 제출
         form.method="get"
         form.action="/baseinfo/locDelte"
         form.submit();
    }


    function add_loc(){
     url = 'locjoin';
    warehouse.popup.open(url, '로케이션 추가', 500, 600, true);
    }


    <!-- tr 항목 더블클릭해서 loc_cd 가져오기-->
    function double(event) {
        var clicked = event.currentTarget;
        var checkbox = clicked.querySelector('.check');
        var loc_cd = checkbox.value;

        url = 'locMod' + '/' + loc_cd;
        title = '( ' + loc_cd + ' ) ' + '정보 수정';
       warehouse.popup.open(url, title, 500, 500,true);
    }


    </script>



</head>
<section layout:fragment="content">

    <div  align="center" class="table_wrapper">
        <table>
            <tr align="left">
                <th style="width:80px;">로케이션 코드</th>
                <td >
                    <form id="search"  >
                        <input type="text"  id="search_loc" name="search_loc" th:placeholder="로케이션검색" style="width:30%;">
                        <!-- 체크상태의 loc_cd 문자열-->
                        <input type="hidden" id="checked_input" name="loc_cd_array">
                    </form>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td colspan="7" align="right">
                    <button th:text="#{search_list}" onclick="search_loc()" class="sbtn"></button>
                    <button onclick="add_loc()"th:text="#{add_list}" class="sbtn"></button>
                    <button th:text="#{delete_list}" onclick="delete_loc()" class="sbtn blue"></button>
                </td>
            </tr>
            <tr>
                <th style="width:50px;"></th>
                <th style="width:50px;">순번</th>
                <th style="width:100px;">물류센터명</th>
                <th style="width:80px;">로케이션명</th>
                <th style="width:80px;">로케이션주소</th>
                <th style="width:50px;">랙 수</th>
                <th>비고</th>
            </tr>

            <tr th:each="list,listCount : ${loc_list}"  ondblclick="double(event)" class="loc_list">
                <td>
                    <input type="checkbox" id="locCheckBok-${listCount.count}" class="check" th:value="${list.loc_cd}" onclick="che()">
                </td>
                <td th:text="${listCount.count}"></td>
                <td th:text="${list.wactr_cd}"></td>
                <td th:text="${list.loc_nm}"></td>
                <td th:text="${list.loc_addr}"></td>
                <td th:text="${list.rac_num}"></td>
                <td th:text="${list.remk}"></td>
            </tr>

        </table>

    </div>
</section>
</html>