<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/front/main}">

<head>
    <script>

<!--    검색조건에따라 리스트 바뀐다-->
    function search_loc(){
        var search_loc = document.getElementById("search_loc").value.trim();
        var form = document.getElementById("search");


        // 폼 서버로 제출
         form.method="get"
         form.action="/baseinfo/loc"
         form.submit();
    }



<!--    delete를 위해 체크한 것의 loc_cd 가져오기-->
    function che() {
		  var checked_input = document.getElementById("checked_input");
		  var check = document.getElementsByClassName("check");
          var loc_cd = [];


        for( var i = 0; i < check.length; i++){

           if(check[i].checked){
           loc_cd.push(check[i].value);
           }
            checked_input.value = loc_cd;

        }

    }

    function delete_loc(){
        var form = document.getElementById("search");
        var checked_input = document.getElementById("checked_input").value.trim();

        if(checked_input == "" ){
         alert("삭제할 목록에 체크해주세요")
         retrun;
        }

         // 폼 서버로 제출
         form.method="get"
         form.action="/baseinfo/locDelte"
         form.submit();
    }



    function mod_list(){

    var form = document.getElementById("search");
    var check = document.getElementsByClassName("check");
    var checked_input = document.getElementById("checked_input").value.trim();
    var loc_cd = [];


        for( var i = 0; i < check.length; i++){

           if(check[i].checked){
           loc_cd.push(check[i].value);
           }
        }

        if(loc_cd.length > 1){
            alert("수정할 항목은 1개만 선택해주세요");
            return;
        } else if(loc_cd.length == 0) {
            alert("수정하실 리스트를 선택해주세요");
            return;
        }

        checked_input.value = loc_cd;


        // 폼 서버로 제출
         form.method="get"
         form.action="/baseinfo/locMod"
         form.submit();


    }
    </script>
</head>
<section layout:fragment="content">

    <div>
        <form id="search"  >
            로케이션 코드
            <input type="text"  id="search_loc" name="search_loc">
            <!-- 체크상태의 loc_cd 문자열-->
            <input type="hidden" id="checked_input" name="loc_cd_array">
        </form>
    </div>

    <table border="1">
        <tr>
            <td colspan="6" align="right">
                <button th:text="#{search_list}" onclick="search_loc()"></button>
                <button onclick="location.href='locjoin'"th:text="#{add_list}"></button>
                <button th:text="#{mod_list}" onclick="mod_list()"></button>
                <button th:text="#{delete_list}" onclick="delete_loc()"></button>
            </td>
        </tr>
        <tr>
            <th></th>
            <th>순번</th>
            <th>물류센터명</th>
            <th>로케이션명</th>
            <th>로케이션주소</th>
            <th>비고</th>
            <th>비고</th>
        </tr>

        <tr th:each="list,listCount : ${loc_list}" >
            <td><input type="checkbox" class="check" th:value="${list.loc_cd}" onclick="che()"></td>
            <td th:text="${listCount.count}"></td>
            <td th:text="${list.wactr_cd}"></td>
            <td th:text="${list.loc_nm}"></td>
            <td th:text="${list.loc_addr}"></td>
            <td th:text="${list.rac_num}"></td>
            <td th:text="${list.remk}"></td>
        </tr>

    </table>


</section>
</html>