<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.warehouse.configs.models.mapper.StdinDAO">
	<resultMap id="stdinMap" type="org.warehouse.models.stdin.StdinVO">
		<result property="stdinDt" column="STDIN_DT" />
		<result property="stdinNum" column="STDIN_NUM" />
		<result property="stdinNo" column="STDIN_NO" />
		<result property="itemCd" column="ITEM_CD" />
		<result property="status" column="STATUS" />
		<result property="clntCd" column="CLNT_CD" />
		<result property="clntNm" column="CLNT_NM" />
		<result property="locCd" column="LOC_CD" />
		<result property="wactrCd" column="WACTR_CD" />
		<result property="beforeStdin" column="BEFORE_STDIN" />
		<result property="normal" column="NORMAL" />
		<result property="fault" column="FAULT" />
		<result property="stdin_after_amt" column="STDIN_AFTER_AMT" />
		<result property="stdin_fault" column="STDIN_FAULT" />
		<result property="remark" column="REMK" />
		<result property="regDt" column="REG_DT" />
		<result property="regNm" column="REG_NM" />
		<result property="modDt" column="MOD_DT" />
		<result property="modNm" column="MOD_NM" />
		<result property="delyn" column="DEL_YN" />

		<result property="itemNm" column="ITEM_NM" />
	</resultMap>

	<insert id="insertHeaderStdin" parameterType="org.warehouse.models.stdin.StdinVO">
		<!-- 이 안에서 처리할 SQL문을 명시한다. -->
		INSERT INTO STDIN_H H(H.STDIN_DT, H.STDIN_NUM, H.CLNT_CD, H.STATUS, H.REMK, H.REG_DT, H.REG_NM) VALUES (#{stdinDt}, NUM_SEQ.NEXTVAL, #{clntCd}, #{status}, #{remark}, SYSDATE, #{regNm})
	</insert>

	<insert id="insertDetailStdin" parameterType="org.warehouse.models.stdin.StdinVO">
		INSERT INTO STDIN_D D(D.STDIN_NO, D.STDIN_DT, D.STDIN_NUM, D.ITEM_CD, D.CLNT_CD, D.LOC_CD, D.WACTR_CD, D.BEFORE_STDIN, D.NORMAL, D.FAULT, D.REMK, D.REG_DT, D.REG_NM) VALUES ((SELECT COUNT(*) FROM STDIN_D DD WHERE DD.STDIN_DT = #{stdinDt}), #{stdinDt}, NUM_SEQ.CURRVAL, #{itemCd}, #{clntCd}, #{locCd}, #{wactrCd}, #{beforeStdin}, #{normal}, #{fault}, #{remark}, SYSDATE, #{regNm})
	</insert>

	<select id="getList" resultMap="stdinMap">
		SELECT H.STDIN_DT, C.CLNT_CD, C.CLNT_NM, H.STATUS FROM STDIN_H H LEFT OUTER JOIN CLNT C ON H.CLNT_CD = C.CLNT_CD WHERE H.DEL_YN = 'N' ORDER BY STDIN_DT
	</select>

	<select id="getDetailList" resultMap="stdinMap">
		SELECT I.ITEM_CD, I.ITEM_NM, D.LOC_CD, D.BEFORE_STDIN, D.NORMAL, D.FAULT, D.REMK FROM STDIN_D D LEFT OUTER JOIN ITEM I ON D.ITEM_CD = I.ITEM_CD WHERE D.DEL_YN = 'N'
	</select>

</mapper>

