<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/front/main}">

    <section layout:fragment="content">
        <!--########## header ##########-->
        <div class="table_rels_wrapper">
            <table id="relsHTable" class="table-cols">
                <tr>
                    <th>순번</th>
                    <th>출고일자</th>
                    <th>고객사코드</th>
                    <th>고객사명</th>
                    <th>진행상태</th>
                    <!-- th>확정일자</th -->
                    <th>비고</th>
                </tr>
                <tr th:each="relsData, rowCnt : ${relsList}">
                    <td align="center" th:text="${rowCnt.count}"></td>
                    <td align="center" th:text="${relsData.relsDt}"></td>
                    <td align="center" th:text="${relsData.clntCd}"></td>
                    <td th:text="${relsData.clntNm}"></td>
                    <td align="center" th:text="${relsData.status}"></td>
                    <!-- td th:text="${relsData.confDt}"></td -->
                    <td th:text="${relsData.remk}"></td>
                </tr>
            </table>
        </div>
        <script>
            // relsHTable 의 tr태그를 찾음
            const trs = document.querySelectorAll('#relsHTable tr');
				trs.forEach( (tr) => {
					tr.addEventListener('click', getDetail);
				});

            function getDetail(e) {
    alert("getDetail Function init");
				const evnt = e.target.parentNode;
				const relsDt = evnt.querySelector('#chk').dataset.relsDt;
				const relsNo = evnt.querySelector('#chk').dataset.relsNo;
				var relsDTable = document.querySelector("#relsDTable > tbody");
				var str = '<tr><th>순번</th><th>상품코드</th><th>상품명</th><th>로케이션</th><th>입고예정수량</th><th>정상수량</th><th>불량수량</th><th>비고</th></tr>';

				str += '<tr id="relsDTable">';

				const url = `/stdin/ajaxstdin/getDetail?stdinNum=${stdinNum}`;
				commonLib.ajaxLoad(url)
                .then((data) => {
                    data = JSON.parse(data);
                    str += '<td data-status= '+ data.status + ' data-stdinnum='+data.stdinNum+'>' + 1 + '</td>';
                    str += '<td>' + data.itemCd + '</td>';
                    str += '<td>' + data.itemNm + '</td>';
                    str += '<td>' + data.locCd + '</td>';
                    str += '<td>' + data.beforeStdin + '</td>';
                    str += '<td>' + data.normal + '</td>';
                    str += '<td>' + data.fault + '</td>';
                    str += '<td>' + data.remark + '</td>';
                    str += '</tr>';
                    stdin_d_table.innerHTML = str;
                })
                .catch((err) => {
                    console.error(err);
                });
			}

        </script>
        <br/>
        <!--########## detail ##########-->
        <div class="table_rels_wrapper">
            <table id="relsDTable" class="table-cols">
                <tr>
                    <th align="center">
                        <input type="checkbox">
                    </th>
                    <th>순번</th>
                    <th>납품처명</th>
                    <th>납품센터명</th>
                    <th>상품코드</th>
                    <th>상품명</th>
                    <th>출고지시수량</th>
                    <th>출고수량</th>
                    <th>납품요청일</th>
                    <th>파렛트</th>
                    <th>박스</th>
                    <th>비고</th>
                </tr>
                <tr th:each="relsDetailData, rowCnt : ${relsDetailList}">
                    <td align="center">
                        <input type="checkbox">
                    </td>
                    <td th:text="${rowCnt.count}"></td>
                    <th th:text="${relsDetailData.custNm}"></th>
                    <th th:text="${relsDetailData.custCtrNm}"></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
        </div>
        <br/>
        <!--########## subdetail ##########-->
        <div class="table_rels_wrapper">
            <table id="relsSTable" class="table-cols">
                <tr>
                    <th align="center">
                        <input type="checkbox">
                    </th>
                    <th>순번</th>
                    <th>상품코드</th>
                    <th>상품명</th>
                    <th>로케이션</th>
                    <th>할당수량</th>
                    <th>할당후재고</th>
                    <th>비고</th>
                </tr>
                <tr th:each="relsSubData, rowCnt : ${relsSubDetailList}">
                    <td align="center">
                        <input type="checkbox">
                    </td>
                    <td align="center" th:text="${rowCnt.count}"></td>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
        </div>
    </section>
</html>