<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/admin/main}">

<section layout:fragment="content">
	<form name="frmSearch" method="get" th:action="@{/}" autocomplete="off" class="frmSearch">
		<table class="table-cols" id="carSearch">
			<tr>
				<th>차량번호</th>
				<td>
					<input type="text" name="carNum" placeholder="차량번호">
				</td>

				<th>기사명</th>
				<td>
					<input type="text" name="driverNm" placeholder="기사명">
				</td>
			</tr>
		</table>
		<div class="btns" style="text-align:right;">
			<button type="button" id="ajax_btn" class="sbtn">검색</button>
			<button type="button" id="add" class="sbtn">추가</button>
			<button type="button" id="del" class="sbtn blue">삭제</button>
		</div>
	</form>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
				const ajax_btn = document.getElementById('ajax_btn');
				const add = document.getElementById('add');
				const del = document.getElementById('del');
				const trs = document.querySelectorAll('tr');

				ajax_btn.addEventListener("click", search);
				add.addEventListener("click", addItem);
				del.addEventListener("click", deleteItem);
				trs.forEach( (tr) => {
					tr.addEventListener('dblclick', updateTable)
				});

				var chkAll = document.getElementById("chkAll");
				chkAll.addEventListener("change", checkAll);

				var checkList = document.getElementsByName("check");

				for( chk of checkList) {
					chk.addEventListener("change", function(e) {
						if(e.target.checked) {
							var tr = e.target.parentNode.parentNode;
							var tds = tr.querySelectorAll("td");
							tds.forEach( (td) => {
								td.style.setProperty("background-color", "#D8D8D8", "important");
							})
						}
						else {
							var tr = e.target.parentNode.parentNode;
							var tds = tr.querySelectorAll("td");
							tds.forEach( (td) => {
								td.style.setProperty("background-color", "white", "important");
							})
						}
					});
				}
			});

			var chks = document.getElementsByName("check");

            chks.forEach(element => element.addEventListener('click', function(e){
                if(e.target.checked == true){
                    e.target.parentNode.parentNode.style.setProperty("background-color", "#D8D8D8", "important");
                }else {
                    e.target.parentNode.parentNode.style.setProperty("background-color", "#fff", "important");
                }
            }));

            function addItem(e) {
				console.log('test');
				url = 'carManage/register';
				warehouse.popup.open(url, "테스트", 500, 800, true);
			}
	</script>
	<div class="table_wrapper">
		<table id="car_table">
			<tr>
				<th>
					<input type="checkbox" id="chkAll">
				</th>
				<th>순번</th>
				<th>차량 코드</th>
				<th>차량 번호</th>
				<th>납품 지역</th>
				<th>기사명</th>
				<th>기사 연락처</th>
				<th>기사 주소</th>
				<th>차량 타입</th>
				<th>차량 톤 수</th>
				<th>적재 파렛트 수</th>
				<th>화물운송 자격증 여부</th>
				<th>입사일자</th>
				<th>비고</th>
			</tr>
			<tbody id="search">
			<tr th:each="car, carCount : ${carList}" id="car_infos">
				<td>
					<input type="checkbox" name="check" th:value="${car.carCd}" id="chk" th:data-carcd="${car.carCd}">
				</td>
				<td th:text="${carCount.count}"></td>
				<td th:text="${car.carCd}"></td>
				<td th:text="${car.carNo}"></td>
				<td th:text="${car.deliveryArea}"></td>
				<td th:text="${car.driverNm}"></td>
				<td th:text="${car.driverTel}"></td>
				<td th:text="${car.driverAddr}"></td>
				<td th:text="${car.carType}"></td>
				<td th:text="${car.carTon}"></td>
				<td th:text="${car.loadPlt}"></td>
				<td th:text="${car.licenseYn}"></td>
				<td th:text="${car.joinDt}"></td>
				<td th:text="${car.remark}"></td>
			</tr>
			</tbody>
		</table>
	</div>
</section>
</html>